<div id="footer" #footer>
    <div class="footerUser">
        <a href="#aboutMeSection"><img src="/assets/img/logoTransparent.jpeg" class="logoIcon" alt=""></a>
        <span>© Filip Filipovic 2023</span>
    </div>
    <div class="footerIcons">
        <div class="socialMediaBox">
            <a href="https://linkedin.com/in/filip-filipovic-6a0178289" target="_blank"> <img
                    src="/assets/img/Linkedin.png" alt=""></a>
            <a href="mailto:filipfilipo67@gmail.com"> <img src="/assets/img/Email.png" alt=""></a>
            <a href="https://github.com/FilipF1989" target="_blank"><img src="/assets/img/Github.png" alt=""></a>
        </div>
        <span> 
            <a [routerLink]="['/impressum']" target="_blank" class="legalNoticeLink">Legal Notice</a>
        </span>
    </div>
</div>