#header_section {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    padding: 30px 100px 30px 100px;
}

.logoIcon {
    width: 66.67px ;
    height: 30px;
}

.burgerIcon {
    width: 40px;
    height: 32px;
}