<section id="mySkill">
    <div id="mySkillsSection"  #myskills>
        <div class="sectionContainer">
            <div class="titleMySkill">
                <h1>My mySkills</h1>
            </div>
            <div class="skillsImgBox">
                <div class="skillImsFistRow">
                    <div class="imgBox">
                        <img src="/assets/img/html.png" alt="">
                        <span>Html</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Api.png" alt="">
                        <span>Rest-Api</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Firebase.png" alt="">
                        <span>Firebae</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Javascript.png" alt="">
                        <span>Javascript</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Frame.png" alt="">
                        <span>Material <br> Design</span>
                    </div>
                </div>
                <div class="skillImgSecondRow">
                    <div class="imgBox">
                        <img src="/assets/img/Icons s3 (1).png" alt="">
                        <span>Git</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/scrum.png" alt="">
                        <span>Scrum</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Icons s3.png" alt="">
                        <span>Css</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Angular.png" alt="">
                        <span>Angular</span>
                    </div>
                    <div class="imgBox">
                        <img src="/assets/img/Vector (2).png" alt="">
                        <span>Html</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="assets/img/arrowRight.png" alt="" #arrowRightImg class="arrowRightImg" >
    </div>
</section>