<div id="impressum">
    <h1>Impressum</h1>
    <div class="impressumContainer">
        <h3>Webseite</h3>
        <p>Dieses Impressum gilt für alle Angebote unter der Domain https://filip-filipovic.de inklusive aller
            Subdomains (Unterseiten).</p>
        <h3>Soziale Medien</h3>
        <p>Dieses Impressum gilt auch für unsere Auftritte in den folgenden sozialen Medien:</p>
        <p>LinkedIn: www.linkedin.com/in/filip-filipovic-6a0178289</p>
        <p>Github: https://github.com/FilipF1989 </p>
        <h3>Angaben gemäß § 5 TMG</h3>
        <br>
        <p>Filipovic Filip</p>
        <p>Herderstrasse 19</p>
        <p>Stuttgart</p>
        <p>Telefon: 017624245456</p>
        <p>E-Mail: filipfilipo67&#64;gmail.com</p>
        <a href="https://www.privacypolicies.com/live/975daacb-2270-4e83-8d1d-645a7fc555e9" target="_blank">Privacy
            polici</a>
    </div>
</div>