<div id="title">
    <div class="titleSection">
        <h1>Fronend</h1>
        <h1>Developer</h1>
    </div>
    <div class="titleName">
        <img src="/assets/img/Vector.png" alt="">
        <span>Filip Filipovic</span>
    </div>
</div>
<div class="animeBox">
    <span class="emailVertikal">filipfilipo67&#64;gmail.com</span>
    <div class="animeArrow">
        <div class="arrowBox"><img [src]="arrowAnimaeImg" alt="" class="imageAnimation"></div>
        <span>Scroll<br>Down</span>
    </div>
</div>
<div id="aboutMeSection">
    <div class="aboutMeTitle">
        <h1 *ngIf="language === 'en'">About me</h1>
        <h1 style="white-space: nowrap;" *ngIf="language === 'de'">Mein Weg</h1>
        <div class="aboutMeArticel" *ngIf="language === 'en'">{{ article.en }}</div>
        <div class="aboutMeArticel" *ngIf="language === 'de'">{{ article.de }}</div>
        <a href="#footer">
            <button *ngIf="language === 'en'" class="letsTalkBtn">Lets's talk</button>
            <button *ngIf="language === 'de'" class="letsTalkBtn">Reden wir</button>
        </a>
    </div>
    <div class="aboutMeImg">
        <div class="frame"></div>
        <img src="/assets/img/profilePicture.jpg" alt="" class="profileImg">
    </div>
</div>
<div>
    <img src="/assets/img/arrowLeft.png" alt="" class="arrowLeftImg"
        [ngClass]="{'moveArrowLeftAnimation': animationState}">
</div>