#title {
    padding-top: 204px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: syne;
        font-size: 128px;
        font-weight: 800;
        line-height: 128px;
        letter-spacing: -0.025em;
        text-align: center;
    }

    span {
        font-size: 48px;
        font-family: overpass;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.025em;
        text-align: center;
        color: #00BC8F;
    }

    .titleName {
        display: flex;
        align-items: center;
        margin-top: 12px;
        overflow: hidden;
    }

    img {
        height: 4px;
    }
}

.arrowBox {
    overflow: hidden;
}

.translate {
    animation: translate 1s linear infinite;
}

@keyframes translate {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(120px);
    }
}

.animeBox {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.emailVertikal {
    font-family: overpass;
    letter-spacing: -0.025em;
    font-weight: 300;
    line-height: 23px;
    transform: rotate(270deg);
    margin-left: 6px;
    font-size: 23px;
}

.animeArrow {
    text-align: center;
    span {
        font-family: overpass;
        font-size: 23px;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: -0.025em;
        text-align: left;
    }
}