<div id="title">
    <div class="titleSection">
        <h1>Fronend</h1>
        <h1>Developer</h1>
    </div>
    <div class="titleName">
        <img src="../../assets/img/Vector.png" alt="">
        <span>Filip Filipovic</span>
    </div>
</div>
<div class="animeBox">
    <span class="emailVertikal">filipfilipo67&#64;gmail.com</span>
    <div class="animeArrow">
        <div class="arrowBox"><img [src]="arrowAnimaeImg" alt="" class="imageAnimation"></div>
        <span>Scroll<br>Down</span>
    </div>
</div>
<div id="aboutMeSection">
    <div class="aboutMeTitle">
        <h1>About me</h1>
        <div class="aboutMeArticel">
            Hello from Stuttgart! I'm a novice web developer, fluent in both German and English, excited to share my
            early
            steps in coding.
            I call Stuttgart home, drawing inspiration from its tech scene. As a bilingual beginner, I'm navigating the
            world of web development, eager to learn and grow.
            My journey includes a simple Jump and Run game. Creating this project not only taught me coding basics but
            also
            fueled my passion for building things that people can interact with.

        </div>
        <a href="#footer"><button class="letsTalkBtn">Lets's talk</button></a>
    </div>
    <div class="aboutMeImg">
        <div class="frame"></div>
        <img src="/assets/img/Mask group.png" alt="" class="profileImg">
    </div>
</div>
<div>
    <img src="/assets/img/arrowLeft.png" alt="" class="arrowLeftImg"
        [ngClass]="{'moveArrowLeftAnimation': animationState}">
</div>
