<div id="navigation">
    <div class="blackSideLeft"></div>
    <div class="blackSideRight"></div>
    <div class="blackSideBottom"></div>
    <div class="navigationBar">

        <a [routerLink]="['/']"><img src="/assets/img/logoNewFFTransparent.png" alt="" class="logoIcon"></a>
        <div class="hamburger-menu active" (click)="toggleMenu()" #burger>
            <div class="ham-bar bar-top"></div>
            <div class="ham-bar bar-mid"></div>
            <div class="ham-bar bar-bottom"></div>
        </div>
    </div>
    <div class="linksContainer">
        <div class="linksAnime">
            <a [routerLink]="['/']" routerLinkActive="router-link-active">About me</a>
            <div class="first line"></div>
            <div class="second line"></div>
        </div>
        <div class="linksAnime">
            <a [routerLink]="['/']" fragment="mySkillsSection">My skill</a>
            <div class="first line"></div>
            <div class="second line"></div>
        </div>
        <div class="linksAnime">
            <a [routerLink]="['/']" fragment="portfolio">Portfolio</a>
            <div class="first line"></div>
            <div class="second line"></div>
        </div>


    </div>
</div>